plurid-sheet {
    div, p, h1, h2, h3, h4, h5, h6, span {
        @include themify($themes) {
            color: themed('textColor');
        }
    }
}


a,
plurid-link {
    @include themify($themes) {
        color: themed('pluridLinkColor');
    }
    text-decoration: none;
}


a:hover,
plurid-link:hover {
    @include themify($themes) {
        color: themed('pluridLinkColorHover');
    }
}
