// $rotateXAngle: -90deg;
// $rotateYAngle: -90deg;

// $rotateXAngle: -89deg;
// $rotateYAngle: -89deg;

// $rotateXAngle: -1deg;
// $rotateYAngle: -1deg;

// $rotateXAngle: 0deg;
// $rotateYAngle: 0deg;

$rotateXAngle: 1deg;
$rotateYAngle: 1deg;

// $rotateXAngle: 89deg;
// $rotateYAngle: 89deg;

// $rotateXAngle: 90deg;
// $rotateYAngle: 90deg;

// $rotateXAngle: 91deg;
// $rotateYAngle: 91deg;

// $rotateXAngle: 179deg;
// $rotateYAngle: 179deg;

// $rotateXAngle: 180deg;
// $rotateYAngle: 180deg;

// $rotateXAngle: 181deg;
// $rotateYAngle: 181deg;

// $rotateXAngle: 269deg;
// $rotateYAngle: 269deg;

// $rotateXAngle: 270deg; // ??
// $rotateYAngle: 270deg; // ??

// $rotateXAngle: 271deg;
// $rotateYAngle: 271deg;

// $rotateXAngle: 359deg;
// $rotateYAngle: 359deg;

// $rotateXAngle: 360deg;
// $rotateYAngle: 360deg;

#plurid {
    margin: 0 auto;
    width: 70%;

    transform: rotateX($rotateXAngle) rotateY($rotateYAngle);
    transform-style: preserve-3d;

    -webkit-transform: rotateX($rotateXAngle) rotateY($rotateYAngle); /* Chrome, Safari, Opera */
    -webkit-transform-style: preserve-3d; /* Chrome, Safari, Opera */

    -webkit-backface-visibility: visible; /* Chrome, Safari, Opera */
    backface-visibility: visible;
}


// #plurid:after {
//     content: '';
//     right: 0px;
//     bottom: 0px;
//     position: absolute;
//     top: 0px;
//     left: 0px;
//     background: hsla(0, 0%, 10%, 0.8);
//     transform: rotateY(180deg);
//     backface-visibility: hidden;
//     -webkit-transform: rotateY(180deg);
//     -webkit-backface-visibility: hidden;
// }


#plurid-container {
    position: relative;
    margin-top: 50px;
    margin-bottom: 50px;
    width: 50%;
    margin: 50px auto;
    height: 700px;
    background-color: hsl(0, 0%, 10%);
    overflow: hidden;
    -webkit-perspective: 500px; /* Chrome, Safari, Opera */
    perspective: 500px;
    transform-origin: center center;

    transform-style: preserve-3d;
    -webkit-transform-style: preserve-3d;

    perspective-origin: 50% 50%;
    -webkit-perspective-origin: 50% 50%;
}