.plurid-controls-cancel:hover,
.plurid-controls-search:hover {
    // background-color: transparent !important;
    // border-radius: 0px !important;
    // box-shadow: none !important;
    background-color: transparent;
    border-radius: 0px;
    box-shadow: none;

    .plurid-button-icon-svg {
        @include themify($themes) {
            fill: themed('textColorTertiary');
        }
    }
}
