.plurid-controls-cancel:hover,
.plurid-controls-search:hover {
    background-color: transparent !important;
    border-radius: 0px !important;

    .plurid-button-icon-svg {
        @include themify($themes) {
            fill: themed('textColorSecondary');
        }
    }
}
