// OPEN-CLOSE
.plurid-controls-open-close {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    bottom: 2px;
    left: 0;
    right: 0;
    text-align: center;
}

.plurid-controls-open-close-character {
    user-select: none;
    font-size: 6px;
    margin: 0 auto;
    width: 10px;
    cursor: pointer;
}

.plurid-controls-open-close-character:hover {
    background-color: hsl(0, 0%, 70%);
    border-radius: 24px;
    color: black;
}