.plurid-controls-more-container {
    background: hsl(200, 2%, 15%);
    box-shadow: 0 4px 2px -2px hsl(200, 2%, 5%);
    display: none;
    height: 400px;
    position: absolute;
    right: 0;
    // overflow: auto;
    top: 60px;
    width: 300px;
    z-index: 2;
}

.plurid-controls-more-container ul {
    font-size: 12px;
    margin: 0;
    padding: 0;
    position: relative;
    max-height: 400px;
    overflow-x: hidden;
    overflow-y: auto;
}

.plurid-controls-more-container ul li {
    cursor: pointer;
    display: grid;
    grid-template-columns: 70% 30%;
    list-style-type: none;
    margin: 0;
    padding: 10px 20px;
    user-select: none;
}

.plurid-controls-more-container ul li:first-child {
    margin-top: 0;
}

.plurid-controls-more-container ul li:last-child {
    margin-bottom: 0;
}

.plurid-controls-more-container ul li:hover {
    background-color: hsla(210, 3%, 30%, 0.5);
    color: hsl(0, 0%, 100%);
}

.plurid-controls-more-container hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid hsla(210, 3%, 30%, 0.5);
    margin: 5px 0;
    padding: 0;
}


.plurid-controls-more-container input[type="text"] {
    background-color: hsl(210, 3%, 10%);
    border: none;
    color: hsl(210, 3%, 70%);
    outline: none;
    padding: 5px;
    text-align: center;
    width: 100%;
}


.plurid-controls-more-container-text {
    align-self: center;
}
.plurid-controls-more-container-shortcut {
    justify-self: right;
    align-self: center;
}
