p, h1 {
    @include themify($themes) {
        color: themed('textColor');
    }
    text-align: justify;
}

a {
    @include themify($themes) {
        color: lighten(themed('textColor'), 40%);
    }
}

.content {
    background-color: hsl(0, 0%, 40%);
    padding: 50px;
    width: 800px;
    margin: 0 auto;
    margin-top: 50px;
    margin-bottom: 50px;
}

// .grid {
//     display: inline-grid;
//     grid-template-columns: 1fr 1fr 1fr;
// }

.grid p {
    margin: 30px;
}

.grid-ads {
    width: 100%;
    display: inline-grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.grid-ads h1 {
    align-self: center;
    justify-self: center;
    padding: 100px;
}



#plurid-root-2 {
    transform: translateX(1080px) translateY(0px) translateZ(610px) rotateX(0deg) rotateY(-60deg) rotateZ(0deg) scale(1);
}


#plurid-root-3 {
    transform: translateX(-1080px) translateY(0px) translateZ(610px) rotateX(0deg) rotateY(60deg) rotateZ(0deg) scale(1);
}
