*,
*:after,
*:before {
    box-sizing: border-box;
    font-kerning: auto;
    text-rendering: optimizeLegibility;
}

html, body {
    height: 100%;
    margin: 0;
    width: 100%;
}

html {
    overflow: hidden;
}

body {
    background-color: $dark-background;
}

:unresolved {
    display: none;
}
