$perspective: 1000px;

$dark-theme-background-color: hsl(200, 2%, 12%);
$dark-theme-color: hsl(0, 0%, 90%);
$plurid-link-color: hsl(200, 2%, 52%);


%container-background {
    background: $dark-theme-background-color;
    background: -moz-radial-gradient(center, ellipse cover, rgba(55,56,56,1) 0%, rgba(13,13,13,1) 100%);
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(55,56,56,1)), color-stop(100%, rgba(13,13,13,1)));
    background: -webkit-radial-gradient(center, ellipse cover, rgba(55,56,56,1) 0%, rgba(13,13,13,1) 100%);
    background: -o-radial-gradient(center, ellipse cover, rgba(55,56,56,1) 0%, rgba(13,13,13,1) 100%);
    background: -ms-radial-gradient(center, ellipse cover, rgba(55,56,56,1) 0%, rgba(13,13,13,1) 100%);
    background: radial-gradient(ellipse at center, rgba(55,56,56,1) 0%, rgba(13,13,13,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#373838', endColorstr='#0d0d0d', GradientType=1 );
}


// generic transform
@mixin transform($transformMixin) {
    -moz-transform: $transformMixin;
    -o-transform: $transformMixin;
    -ms-transform: $transformMixin;
    -webkit-transform: $transformMixin;
    transform: $transformMixin;
}

//transform origin
@mixin transform-origin ($transformOriginMixin) {
    -moz-transform-origin: $transformOriginMixin;
    -o-transform-origin: $transformOriginMixin;
    -ms-transform-origin: $transformOriginMixin;
    -webkit-transform-origin: $transformOriginMixin;
    transform-origin: $transformOriginMixin;
}

// transform-style
@mixin transform-style ($transformStyleMixin) {
    -moz-transform-style: $transformStyleMixin;
    -o-transform-style: $transformStyleMixin;
    -ms-transform-style: $transformStyleMixin;
    -webkit-transform-style: $transformStyleMixin;
    transform-style: $transformStyleMixin;
}

@mixin perspective($perspectiveMixin) {
    -moz-perspective: $perspectiveMixin;
    -o-perspective: $perspectiveMixin;
    -ms-perspective: $perspectiveMixin;
    -webkit-perspective: $perspectiveMixin;
    perspective: $perspectiveMixin;
}


$boxShadowSheetActive: 0px 0px 0px 1px hsl(200, 2%, 40%);
$boxShadowSheetTransform: 0px 0px 0px 1px hsl(200, 2%, 100%);

@mixin box-shadow ($boxShadowMixin) {
    -webkit-box-shadow: $boxShadowMixin;
    -moz-box-shadow: $boxShadowMixin;
    box-shadow: $boxShadowMixin;
}
