plurid-branch {
    position: absolute;
}


plurid-scion {
    right: -100px;
    position: absolute;

    plurid-sheet {
        width: 100vw;
    }
}


plurid-bridge {
    background-color: hsl(0, 0%, 20%);
    height: 20px;
    position: absolute;
    opacity: 0.7;
    width: 100px;
}
