plurid-branch {
    position: absolute;
}


plurid-scion {
    position: absolute;
    right: -100px;

    plurid-sheet {
        width: 100vw;
    }
}


plurid-bridge {
    background-color: $dark-theme-background-color;
    height: 20px;
    position: absolute;
    opacity: $plurid-bridge-opacity;
    width: 100px;
}
