plurid-branch {
    position: absolute;
}


plurid-scion {
    position: absolute;
    right: -100px;

    plurid-sheet {
        width: 100vw;
    }
}


plurid-bridge {
    @include themify($themes) {
        background-color: themed('backgroundColorContainer');
    }
    height: 20px;
    position: absolute;
    opacity: $general_plurid-bridge__opacity;
    width: 100px;
}
