plurid-controls {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    background-color: hsl(200, 2%, 15%);
    height: 60px;
    width: 100%;
    z-index: 999;
    display: flex;
    align-items: center;
    font-family: 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

    color: $dark-theme-color;
    box-shadow: 0 4px 2px -2px hsl(200, 2%, 5%);
}

plurid-controls plurid-link {
    color: hsl(0, 0%, 90%);
}

.plurid-container-controls-content {
    height: 50px;
    display: inline-flex;
    align-items: center;
    width: 100%;
    margin-right: 50px;
    margin-left: 50px;
    justify-content: space-between;
    font-size: 12px;
}


.plurid-controls-button {
    cursor: pointer;
    width: 30px;
    height: 30px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    outline: none;
    margin: 0 5px;
    user-select: none;
}

.plurid-controls-button svg {
    width: 30px;
    height: 30px;
    padding: 7px;
}

.plurid-sheet-control-active,
.plurid-controls-button:hover {
    background-color: hsl(0, 0%, 70%);
    border-radius: 15px;
    color: hsl(0, 0%, 10%);

    .plurid-controls-buttons-svg {
        fill: hsl(0, 0%, 10%);
    }
}


.plurid-sheet-controls-disabled,
.plurid-sheet-controls-disabled:hover {
    cursor: not-allowed;
    background-color: hsl(200, 2%, 15%);
    color: hsl(0, 0%, 90%);

    .plurid-controls-buttons-svg {
        fill: hsl(0, 0%, 30%);
    }
}


.plurid-controls-cancel:hover,
.plurid-controls-search:hover {
    background-color: transparent;
    border-radius: 0px;
}


.plurid-controls-buttons-svg {
    fill: hsl(0, 0%, 90%);
}

.plurid-controls-extend {
    cursor: -webkit-grab;
    cursor: grab;
}


// URL
.plurid-controls-url {
    width: 60%;
}

.plurid-controls-url-container input {
    background-color: hsl(0, 0%, 40%);
    border: none;
    color: hsl(0, 0%, 70%);
    height: 34px;
    width: 100%;
    font-size: 14px;
    padding-left: 38px;
    padding-right: 38px;
    margin-right: -34px;
    margin-left: -34px;
}

.plurid-controls-url-container input:focus {
    color: hsl(0, 0%, 90%);
}

.plurid-controls-url-input {
    width: 100%;
    overflow-x: scroll;
}

.plurid-controls-url input:focus {
    -webkit-box-shadow: 0px 1px 0px 0px hsl(0, 0%, 70%);
    -moz-box-shadow: 0px 1px 0px 0px hsl(0, 0%, 70%);
    box-shadow: 0px 1px 0px 0px hsl(0, 0%, 70%);
    outline: none;
    border: none;
}

.plurid-controls-url input::placeholder {
    color: hsl(0, 0%, 70%);
}

.plurid-controls-url-container {
    display: inline-flex;
    align-items: center;
    width: 100%;
}

.plurid-controls-button-url {
    height: 20px;
}

.plurid-controls-button-url svg {
    width: 25px;
    height: 25px;
    padding: 7px;
}

.plurid-controls-search {
    z-index: 999;
    top: 0;
    right: 0;
}



// OPEN-CLOSE
.plurid-controls-open-close {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    bottom: 2px;
    left: 0;
    right: 0;
    text-align: center;
}

.plurid-controls-open-close-character {
    user-select: none;
    font-size: 6px;
    margin: 0 auto;
    width: 10px;
    cursor: pointer;
}

.plurid-controls-open-close-character:hover {
    background-color: hsl(0, 0%, 70%);
    border-radius: 24px;
    color: black;
}


.plurid-controls-message {
    position: absolute;
    display: none;
    padding: 20px;
    padding-top: 30px;
    padding-right: 30px;
    max-width: 400px;
    background-color: hsl(200, 2%, 15%);
    box-shadow: 0 4px 2px -2px hsl(200, 2%, 5%);
    top: 80px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 12px;
}

.plurid-controls-message-close {
    position: absolute;
    right: 10px;
    top: 10px;
    cursor: pointer;
}

.plurid-controls-message-close:hover {
    color: hsl(200, 2%, 45%);
}


.rotate-button {
    -webkit-animation: spin 500ms linear 1;
    -moz-animation: spin 500ms linear 1;
    animation: spin 500ms linear 1;
}

@-moz-keyframes spin { 100% { -moz-transform: rotate(-360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(-360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(-360deg); transform:rotate(-360deg); } }




.plurid-controls-more-container {
    background: hsl(200, 2%, 15%);
    box-shadow: 0 4px 2px -2px hsl(200, 2%, 5%);
    display: none;
    height: 400px;
    position: absolute;
    right: 0;
    // overflow: auto;
    top: 60px;
    width: 300px;
}

.plurid-controls-more-container ul {
    font-size: 12px;
    margin: 0;
    padding: 0;
    position: relative;
    max-height: 400px;
    overflow-x: hidden;
    overflow-y: auto;
}

.plurid-controls-more-container ul li {
    cursor: pointer;
    display: grid;
    grid-template-columns: 70% 30%;
    list-style-type: none;
    margin: 0;
    padding: 10px 20px;
    user-select: none;
}

.plurid-controls-more-container ul li:first-child {
    margin-top: 0;
}

.plurid-controls-more-container ul li:last-child {
    margin-bottom: 0;
}

.plurid-controls-more-container ul li:hover {
    background-color: hsla(210, 3%, 30%, 0.5);
    color: hsl(0, 0%, 100%);
}

.plurid-controls-more-container hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid hsla(210, 3%, 30%, 0.5);
    margin: 5px 0;
    padding: 0;
}


.plurid-controls-more-container input[type="text"] {
    background-color: hsl(210, 3%, 10%);
    border: none;
    color: hsl(210, 3%, 70%);
    outline: none;
    padding: 5px;
    text-align: center;
    width: 100%;
}


.plurid-controls-more-container-text {
    align-self: center;
}
.plurid-controls-more-container-shortcut {
    justify-self: right;
    align-self: center;
}

.plurid-controls-more-branch-angle-input input[type="text"] {
    width: 89%;
}

.plurid-controls-more-sheet-width-input input[type="text"],
.plurid-controls-more-sheet-height-input input[type="text"] {
    width: 77%;
}






/* The container */
.plurid-controls-more-checkmark-container {
    display: block;
    position: relative;
    // margin-bottom: 12px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Hide the browser's default checkbox */
.plurid-controls-more-checkmark-container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

/* Create a custom checkbox */
.plurid-controls-more-checkmark {
    position: absolute;
    top: 7.5px;
    right: 20px;
    height: 20px;
    width: 20px;
    background-color: hsl(210, 3%, 10%);
}

/* On mouse-over, add a grey background color */
// .plurid-controls-more-checkmark-container:hover input ~ .plurid-controls-more-checkmark {
//     background-color: hsl(0, 0%, 40%);
// }

/* When the checkbox is checked, add a blue background */
.plurid-controls-more-checkmark-container input:checked ~ .plurid-controls-more-checkmark {
    background-color: hsl(0, 0%, 70%);
}

/* Create the checkmark/indicator (hidden when not checked) */
.plurid-controls-more-checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.plurid-controls-more-checkmark-container input:checked ~ .plurid-controls-more-checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */
.plurid-controls-more-checkmark-container .plurid-controls-more-checkmark:after {
    left: 7px;
    top: 4px;
    width: 5px;
    height: 10px;
    border: solid hsl(0, 0%, 10%);
    border-width: 0 2px 2px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}


.plurid-controls-more-branch-angle input[type="range"] {
    margin-top: 10px;
    width: 90%;
}

.plurid-controls-more-branch-angle-span-text,
.plurid-controls-more-branch-angle-span-range {
    display: inline-block;
}

.plurid-controls-more-branch-angle-span-range {
    text-align: left;
    width: 100%;
}


.plurid-controls-more-sheet-history {
    position: relative;
}

.plurid-controls-more-sheet-history:hover > .plurid-controls-sheet-history-container {
    display: block;
}

.plurid-controls-sheet-history-container {
    position: absolute;
    display: none;
    top: 36px;
    width: 300px;
    height: 108px;
    background-color: hsl(0, 0%, 20%);
    box-shadow: 0 4px 2px -2px hsl(200, 2%, 5%);
    z-index: 50;
    overflow: auto;
}


.plurid-controls-more-back-color,
.plurid-controls-more-front-color {
    position: relative;
}

.plurid-controls-more-back-color:hover > .plurid-controls-more-back-color-container,
.plurid-controls-more-front-color:hover > .plurid-controls-more-front-color-container {
    display: grid;
    grid-template-columns: 40% 60%;
}

.plurid-controls-more-back-color-container,
.plurid-controls-more-front-color-container {
    position: absolute;
    display: none;
    top: 36px;
    width: 300px;
    height: 240px;
    background-color: hsl(0, 0%, 20%);
    box-shadow: 0 4px 2px -2px hsl(200, 2%, 5%);
    z-index: 50;
    overflow: auto;
}

.plurid-controls-more-selected-color {
    background-color: hsl(200, 35%, 25%);
    height: 100%;
    width: 100%;
}

.plurid-controls-more-select-color {
    display: grid;
    grid-template-columns: 100%;
}

.plurid-controls-more-select-color input[type="text"] {
    width: 35px;
}

.plurid-controls-more-select-color-group {
    display: grid;
    justify-self: center;
    align-self: center;
}

.plurid-controls-more-select-color-group-element {
    display: grid;
    grid-template-columns: 60% 40%;
}
