plurid-container {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    overflow: hidden;

    @include perspective($general_perspective);
    @extend %container-background;
}
