plurid-options {
    display: none;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 25px;
    height: 50px;

    @include themify($themes) {
        color: themed('textColor');
    }

    font-family: sans-serif;
    font-size: 12px;
}

// .plurid-container-options {
//     color: white;
//     position: absolute;
//     bottom: 25px;
//     height: 50px;
//     width: 100%;
//     opacity: 0;
//     transition: 150ms ease-in-out;
//     font-family: sans-serif;
//     font-size: 12px;
//     transition: 500ms;
//     transition-delay: 1s;
// }


.plurid-container-options-content {
    @include themify($themes) {
        background-color: themed('backgroundColorMenu');
    }
    height: 100%;
    width: 800px;
    margin: 0 auto;
    border-radius: 0px;
    text-align: center;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 50px 50px 100px;
    box-shadow: 0 4px 2px -2px hsl(200, 2%, 5%);
}


@media (max-width: 800px) {
    .plurid-container-options-content {
        width: 400px;
    }
}


.plurid-container-options-more {
    @include themify($themes) {
        background-color: themed('backgroundColorMenu');
    }
    bottom: 5px;
    box-shadow: 0 4px 2px -2px hsl(200, 2%, 5%);
    display: none;
    // grid-template-columns: 1fr 1fr 1fr 1fr;
    position: absolute;
    // height: 350px;
    transform: translateY(-50px);
    // transition: transform 300ms ease-in-out;
    // transition: all 1s ease;
    overflow: auto;
    opacity: 0.9;
    white-space: nowrap;
    width: 800px;
}

.plurid-container-options-group-more:hover {
    background-color: hsl(200, 2%, 30%);
    color: white;
}


// .plurid-container-options-more-clicked {
//     display: block;
// }


.plurid-container-options:hover {
    opacity: 1;
    transition: 150ms ease-in-out;
}

.plurid-container-options-group {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding-right: 10px;
    padding-left: 10px;
}

.plurid-container-button {
    margin: 5px;
    width: 30px;
    height: 30px;
    min-width: 30px;
    min-height: 30px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    user-select: none;
}


.plurid-container-button svg {
    width: 30px;
    height: 30px;
    padding: 7px;
    fill: hsl(0, 0%, 10%);
}

.plurid-container-button:hover {
    background-color: hsl(0, 0%, 70%);
    color: black;
    border-radius: 50%;

    .plurid-controls-buttons-svg {
        fill: hsl(0, 0%, 10%);
    }
}

.plurid-container-button-center-everything,
.plurid-container-button-add-root {
    font-size: 20px;
}

.plurid-container-color {
    background-color: hsl(0, 0%, 10%);
    border-radius: 50%;
}


.plurid-container-link-expand {
    user-select: none;
    cursor: pointer;
}

.plurid-container-link-expand:hover {
    color: black;
}


.plurid-container-options-shortcuts {
    position: absolute;
    bottom: 56px;
    border-radius: 25px;
    background-color: hsla(0, 0%, 25%, 0.9);
    width: 42%;
    display: none;
    height: 50px;
    transform: translateY(-50px);
    transition: transform 300ms ease-in-out;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    transition:all 1s ease;
}

.plurid-container-options-shortcuts-clicked {
    display: block;
}


.plurid-bridge-close {
    cursor: pointer;
    position: relative;
    z-index: 20;
    top: 20px;
    left: 525px;
}

.plurid-bridge-close:hover {
    color: hsl(0, 0%, 70%)
}




// PLURID CONTAINER OPTIONS MORE GROUP TRANSFORMS
.plurid-container-options-more-group-transforms {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}


// PLURID CONTAINER OPTIONS MORE GROUP COLORS
.plurid-container-options-more-group-colors {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}


// PLURID CONTAINER OPTIONS MORE GROUP OPACITY
.plurid-container-options-more-group-opacity {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}



.plurid-container-options-more hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid hsla(210, 3%, 30%, 0.5);
    margin: 5px 0;
    padding: 0;
}
