plurid-sheet {
    position: absolute;
    width: 100%;
    // height: auto;
    background-color: hsl(0, 0%, 30%);
    padding: 50px;
    padding-top: 100px;
    // backface-visibility: hidden;

    // transform: translateX(0px) translateY(0px) translateZ(0px) rotateX(0deg) rotateY(0deg) rotateZ(0deg) scale(1);
    // transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 5, 10, 0, 1);
    transform-style: preserve-3d;
    -webkit-transform-style: preserve-3d;

    -webkit-box-shadow: 0px 0px 0px 1px rgba(168,168,168,1);
    -moz-box-shadow: 0px 0px 0px 1px rgba(168,168,168,1);
    box-shadow: 0px 0px 0px 1px rgba(168,168,168,1);

}


// #plurid-sheet-3 {
//     background-color: hsl(21, 32%, 32%);
// }