plurid-sheet {
    background-color: hsl(200, 2%, 25%);
    padding: 40px;
    padding-top: 80px;
    position: absolute;
    width: 100%;
    -webkit-box-reflect: below 0 linear-gradient(to top, rgba(0,0,0,0.5) 0%, rgba(30,30,30,0.3) 10%, rgba(60,60,60,0) 30%);
    // backface-visibility: hidden;
}


// Firefox reflection
// requires masking through SVG
// #plurid-sheet-1:before {
//     // background: -moz-linear-gradient(bottom, rgba(248,80,50,1) 0%, rgba(231,56,39,0) 100%), -moz-element(#plurid-sheet-1) no-repeat 0 -900px content-box;
//     background: -moz-element(#plurid-sheet-1) no-repeat 0 -900px;
//     content: "";
//     height: 300px;
//     left: 0;
//     bottom: -284px;
//     position: absolute;
//     -webkit-transform: scaleY(-1);
//     transform: scaleY(-1);
//     width: 100%;
// }


.plurid-sheet-active {
    @include box-shadow($boxShadowSheetActive);
}

.plurid-sheet-active-transform {
    @include box-shadow($boxShadowSheetTransform);
}


.plurid-sheet-minimize {
    height: 0px;
    padding-bottom: 0;
    padding-top: 60px;
    overflow: hidden;
}

.plurid-sheet-reduce-height {
    height: 700px;
    overflow: hidden;
}
