plurid-sheet {
    background-color: hsl(200, 2%, 25%);
    padding: 40px;
    padding-top: 80px;
    position: absolute;
    width: 100%;
    -webkit-box-reflect: below 0 linear-gradient(to top, rgba(0,0,0,0.5) 0%, rgba(30,30,30,0.3) 10%, rgba(60,60,60,0) 30%);
    // backface-visibility: hidden;
}


.plurid-sheet-active {
    @include box-shadow($boxShadowSheetActive);
}

.plurid-sheet-active-transform {
    @include box-shadow($boxShadowSheetTransform);
}


.plurid-sheet-minimize {
    height: 0px;
    padding-bottom: 0;
    padding-top: 60px;
    overflow: hidden;
}

.plurid-sheet-reduce-height {
    height: 700px;
    overflow: hidden;
}
