.plurid-viewcube-scale-container {
    // background-color: red;
    grid-area: pluridViewcubeScale;
}

.plurid-viewcube-scale-container input {
    display: block;
    margin-left: auto;
    margin-right: 2px;
    width: 33px;
}