.plurid-viewcube-fitview-container {
    font-size: 14px;
    grid-area: pluridViewcubeFitview;
    align-self: center;
}

.plurid-viewcube-fitview-container {
    .plurid-viewcube-button {
        margin-left: 3px;
    }
}
