.plurid-viewcube-fitview-container {
    // background-color: deeppink;
    align-self: center;
    color: white;
    font-size: 14px;
    grid-area: pluridViewcubeFitview;
    justify-self: center;
}
