plurid-viewcube {
    bottom: 0;
    font-family: $general_sans-serif__font-family;
    height: 240px;
    padding: 25px;
    padding-top: 50px;
    padding-left: 50px;
    position: absolute;
    right: 0;
    width: 240px;
}


.plurid-viewcube-container {
    display: grid;
    grid-template-areas: "pluridViewcubeScale           pluridViewcubeScale         pluridViewcubeScale             pluridViewcubeScale"
                         "pluridViewcubeRotateLeft      pluridViewcubeRotateUp      pluridViewcubeRotateRight       pluridViewcubeTranslateY"
                         "pluridViewcubeRotateLeft      pluridViewcubeModel         pluridViewcubeRotateRight       pluridViewcubeTranslateY"
                         "pluridViewcubeRotateLeft      pluridViewcubeRotateDown    pluridViewcubeRotateRight       pluridViewcubeTranslateY"
                         "pluridViewcubeTranslateX      pluridViewcubeTranslateX    pluridViewcubeTranslateX        pluridViewcubeFitview";
    grid-template-rows: 20px 15px 95px 15px 20px;
    grid-template-columns: 15px 115px 15px 20px;

    font-size: 7px;

    @include themify($themes) {
        color: themed('textColor');
    }
}


.plurid-viewcube-controls {
    display: none;
}


plurid-viewcube:hover {
    .plurid-viewcube-controls {
        display: block;
    }
}
