.plurid-viewcube-model-container {
    // background-color: cadetblue;
    grid-area: pluridViewcubeModel;
}

.plurid-viewcube-model-transform-container {
    width: 50px;
    height: 50px;
    // @include perspective($general_perspective);
    perspective: 400px;
    perspective-origin: 100% 80%;
}


.plurid-viewcube-model-transform-cube {
    height: 50px;
    position: relative;
    transform: translateX(23px) translateY(16px) rotateY(0deg);
    @include transform-style(preserve-3d);
    width: 50px;
}


.plurid-viewcube-model-transform-front {
    transform: translateZ(25px) rotateY(0deg);
}

.plurid-viewcube-model-transform-back {
    transform: translateZ(-25px) rotateY(-180deg);
}

.plurid-viewcube-model-transform-right {
    transform: translateX(25px) rotateY(90deg);
}

.plurid-viewcube-model-transform-left {
    transform: translateX(-25px) rotateY(-90deg);
}

.plurid-viewcube-model-transform-top {
    transform: translateY(-25px) rotateX(90deg);
}

.plurid-viewcube-model-transform-base {
    transform: translateY(25px) rotateX(-90deg);
}


.plurid-viewcube-model-transform-face {
    position: absolute;
    height: 50px;
    width: 50px;
    opacity: 0.9;
    font-size: 10px;
    cursor: pointer;

    @include themify($themes) {
        background-color: themed('backgroundColorMenu');
    }
    @include box-shadow($boxShadowSheetActive);

    display: grid;
    grid-template-areas: "pluridViewcubeFaceTopLeft         pluridViewcubeFaceTopCenter         pluridViewcubeFaceTopRight"
                         "pluridViewcubeFaceMiddleLeft      pluridViewcubeFaceMiddleCenter      pluridViewcubeFaceMiddleRight"
                         "pluridViewcubeFaceBottomLeft      pluridViewcubeFaceBottomCenter      pluridViewcubeFaceBottomRight";
    grid-template-rows: 10px 30px 10px;
    grid-template-columns: 10px 30px 10px;
}

.plurid-viewcube-model-transform-face-zone-active,
.plurid-viewcube-model-transform-face-zone:hover {
    @include themify($themes) {
        color: themed('textColorInverted');
        background-color: themed('backgroundColorMenuButtonHover');
    }
}


.plurid-viewcube-model-transform-top-left {
    grid-area: pluridViewcubeFaceTopLeft;
}

.plurid-viewcube-model-transform-top-center {
    grid-area: pluridViewcubeFaceTopCenter;
}

.plurid-viewcube-model-transform-top-right {
    grid-area: pluridViewcubeFaceTopRight;
}

.plurid-viewcube-model-transform-middle-left {
    grid-area: pluridViewcubeFaceMiddleLeft;
}

.plurid-viewcube-model-transform-middle-center {
    grid-area: pluridViewcubeFaceMiddleCenter;
}

.plurid-viewcube-model-transform-middle-right {
    grid-area: pluridViewcubeFaceMiddleRight;
}

.plurid-viewcube-model-transform-bottom-left {
    grid-area: pluridViewcubeFaceBottomLeft;
}

.plurid-viewcube-model-transform-bottom-center {
    grid-area: pluridViewcubeFaceBottomCenter;
}

.plurid-viewcube-model-transform-bottom-right {
    grid-area: pluridViewcubeFaceBottomRight;
}


.plurid-viewcube-model-transform-face-text {
    margin-top: 9px;
    text-align: center;
    @include user-select(none);
}
