$themes: (
    night: (
        backgroundColorContainer: $night_container__background-color,
        backgroundColorContainerGradientOuter: $night_container__gradient-outer,
        backgroundColorContainerGradientInner: $night_container__gradient-inner,
        backgroundColorMenu: $night_menu__background-color,
        boxShadowMenu: $night_menu__box-shadow,
        backgroundColorMenuButtonHover: $night_button-hover_background-color,
        textColor: $night_text__color,
        textColorSecondary: $night_text-secondary__color,
        textColorInverted: $night_text-inverted__color,
        pluridLinkColor: $night_plurid-link__color,
        backgroundColorSheet: $night_plurid-sheet__background-color
    ),
    dusk: (
        backgroundColorContainer: $dusk_container__background-color,
        backgroundColorContainerGradientOuter: $dusk_container__gradient-outer,
        backgroundColorContainerGradientInner: $dusk_container__gradient-inner,
        backgroundColorMenu: $dusk_menu__background-color,
        boxShadowMenu: $dusk_menu__box-shadow,
        backgroundColorMenuButtonHover: $dusk_button-hover_background-color,
        textColor: $dusk_text__color,
        textColorSecondary: $dusk_text-secondary__color,
        textColorInverted: $dusk_text-inverted__color,
        pluridLinkColor: $dusk_plurid-link__color,
        backgroundColorSheet: $dusk_plurid-sheet__background-color
    ),
    dawn: (
        backgroundColorContainer: $dawn_container__background-color,
        backgroundColorContainerGradientOuter: $dawn_container__gradient-outer,
        backgroundColorContainerGradientInner: $dawn_container__gradient-inner,
        backgroundColorMenu: $dawn_menu__background-color,
        boxShadowMenu: $dawn_menu__box-shadow,
        backgroundColorMenuButtonHover: $dawn_button-hover_background-color,
        textColor: $dawn_text__color,
        textColorSecondary: $dawn_text-secondary__color,
        textColorInverted: $dawn_text-inverted__color,
        pluridLinkColor: $dawn_plurid-link__color,
        backgroundColorSheet: $dawn_plurid-sheet__background-color
    ),
    light: (
        backgroundColorContainer: $light_container__background-color,
        backgroundColorContainerGradientOuter: $light_container__gradient-outer,
        backgroundColorContainerGradientInner: $light_container__gradient-inner,
        backgroundColorMenu: $light_menu__background-color,
        boxShadowMenu: $light_menu__box-shadow,
        backgroundColorMenuButtonHover: $light_button-hover_background-color,
        textColor: $light_text__color,
        textColorSecondary: $light_text-secondary__color,
        textColorInverted: $light_text-inverted__color,
        pluridLinkColor: $light_plurid-link__color,
        backgroundColorSheet: $light_plurid-sheet__background-color
    )
);
