// COLORS
$night_primary-color: hsl(0, 0%, 0%);
$night_secondary-color: hsl(0, 0%, 4%);
$night_tertiary-color: hsl(200, 2%, 6%);
$night_quaternary-color: hsl(200, 2%, 8%);
// $night_quinary-color: hsl(200, 2%, 20%);
// $night_senary-color: hsl(200, 2%, 20%);
// $night_septenary-color: hsl(200, 2%, 20%);
// $night_octonary-color: hsl(200, 2%, 20%);
// $night_nonary-color: hsl(200, 2%, 20%);
// $night_denary-color: hsl(200, 2%, 20%);

$night_primary-color-inverted: hsl(200, 2%, 100%);
$night_secondary-color-inverted: hsl(200, 2%, 90%);
$night_tertiary-color-inverted: hsl(200, 2%, 80%);
$night_quaternary-color-inverted: hsl(200, 2%, 70%);


// CONTAINER
$night_container__background-color: $night_primary-color;
$night_container__gradient-outer: $night_primary-color;
$night_container__gradient-inner: $night_secondary-color;


// TEXT
$night_text__color: $night_primary-color-inverted;
$night_text-secondary__color: $night_quaternary-color-inverted;
$night_text-tertiary__color: $night_quaternary-color-inverted;
$night_text-inverted__color: $night_primary-color;
$night_plurid-link__color: $night_quaternary-color-inverted;
$night_plurid-link-hover__color: $night_text__color;


// MENU UIs
$night_menu__background-color: $night_secondary-color;
$night_menu__box-shadow: $general_box-shadow-menu-size $night_quaternary-color;
$night_button-hover_background-color: $night_tertiary-color-inverted;


// CONTROLS


// OPTIONS


// SHEET
$night_plurid-sheet__background-color: $night_tertiary-color;

$night_input__box-shadow: $general_box-shadow-input-size $night_text__color;
$night_button-carve-design__box-shadow: $general_box-shadow-button-carve-design-size $night_primary-color-inverted;
