$general_perspective: 1000px;
$general_plurid-bridge__opacity: 0.5;
$general_sans-serif__font-family: 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;


$general_plurid-link__color: hsl(200, 2%, 52%);


$boxShadowSheetActive: 0px 0px 0px 1px hsl(200, 2%, 40%);
$boxShadowSheetTransform: 0px 0px 0px 1px hsl(200, 2%, 100%);
$boxShadowSheetShadow: 0px 0px 100px 60px hsl(200, 2%, 5%);
$box-shadow-menu: 0 4px 2px -2px hsl(200, 2%, 5%);
