/*
    Add general/global styles, i.e. html rules, font imports.
*/

@font-face {
    font-family: "Ubuntu";
    font-style: normal;
    font-weight: 400;
    src: url("../assets/fonts/Ubuntu-Regular.ttf") format("truetype");
}
