%container-background {
    @include themify($themes) {
        background: themed('backgroundColorContainer');

        // performance issues with radial gradients for some reason
        background: -moz-radial-gradient(center, ellipse cover, themed('backgroundColorContainerGradientInner') 0%, themed('backgroundColorContainerGradientOuter') 100%);
        background: -webkit-radial-gradient(center, ellipse cover, themed('backgroundColorContainerGradientInner') 0%, themed('backgroundColorContainerGradientOuter') 100%);
        background: -ms-radial-gradient(center, ellipse cover, themed('backgroundColorContainerGradientInner') 0%, themed('backgroundColorContainerGradientOuter') 100%);
        background: radial-gradient(ellipse at center, themed('backgroundColorContainerGradientInner') 0%, themed('backgroundColorContainerGradientOuter') 100%);
    }
}


@mixin transform ($transform-mixin) {
    -moz-transform: $transform-mixin;
    -ms-transform: $transform-mixin;
    -webkit-transform: $transform-mixin;
    transform: $transform-mixin;
}


@mixin transform-origin ($transform-origin-mixin) {
    -moz-transform-origin: $transform-origin-mixin;
    -ms-transform-origin: $transform-origin-mixin;
    -webkit-transform-origin: $transform-origin-mixin;
    transform-origin: $transform-origin-mixin;
}


@mixin transform-style ($transform-style-mixin) {
    -moz-transform-style: $transform-style-mixin;
    -ms-transform-style: $transform-style-mixin;
    -webkit-transform-style: $transform-style-mixin;
    transform-style: $transform-style-mixin;
}


@mixin perspective($perspective-mixin) {
    -moz-perspective: $perspective-mixin;
    -ms-perspective: $perspective-mixin;
    -webkit-perspective: $perspective-mixin;
    perspective: $perspective-mixin;
}


@mixin box-shadow ($box-shadow-mixin) {
    -moz-box-shadow: $box-shadow-mixin;
    -ms-box-shadow: $box-shadow-mixin;
    -webkit-box-shadow: $box-shadow-mixin;
    box-shadow: $box-shadow-mixin;
}


@mixin user-select ($user-select-mixin) {
    -webkit-user-select: $user-select-mixin;
    -moz-user-select: $user-select-mixin;
    -ms-user-select: $user-select-mixin;
    user-select: $user-select-mixin;
}
